apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-aws-iam-controller
  namespace: kube-system
  labels:
    application: kube-aws-iam-controller
    version: latest
spec:
  replicas: 1
  selector:
    matchLabels:
      application: kube-aws-iam-controller
  template:
    metadata:
      labels:
        application: kube-aws-iam-controller
        version: latest
    spec:
      serviceAccount: kube-aws-iam-controller
      # running with hostNetwork to bypass metadata service block from pod
      # network.
      hostNetwork: true
      containers:
      - name: kube-aws-iam-controller
        image: registry.opensource.zalan.do/teapot/kube-aws-iam-controller:latest
        resources:
          limits:
            cpu: 25m
            memory: 100mi
          requests:
            cpu: 25m
            memory: 100Mi
